/*Header/Nav*/
#headerContainer{
	width: 100%;
	background-color: #fff;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.7);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.7);
	box-shadow: 0 0 20px rgba(0,0,0,.7);
	position: fixed;
	z-index: 1001;
}

a, a:visited, a:hover, a:focus, a:link{
	color: #0C8B07;
}

#headerContainer div{
	position: relative;
}

#headerContainer .brand{
	position: relative;
}

#headerContainer .brand a img{
	margin: 0 0 20px;
}

@media (max-width: 360px){
	#headerContainer .brand a img{
		width: 80%;
	}
}

.navbar-toggle{
	position: absolute;
	bottom: 10px;
	right: 0;
	z-index: 1003;
}

.navbar-nav a.active{
	border-bottom: solid 4px #96C086;
}
@media (min-width: 760px){
	.navbar-nav a:hover{
		border-bottom: solid 4px #96C086;
	}
	.navbar-nav a.active{
		background-color: #eee;
	}
}

/*Main Wrapper*/
main{}

/*Single Page Containers*/
main > div {
	height: 100vh;
	padding: 0 0 0 0;
}

main div.expandedContainer{
	height: auto;
}

main > div > div.containerWrapper{
	padding: 20vh 0;
}
main > div#heroContainer > div.containerWrapper{
	padding: 0 0;
	height: 100%;
	position: relative;
}

main > div > div.containerWrapper >div.container{
	height: inherit;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.7);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.7);
	box-shadow: 0 0 20px rgba(0,0,0,.7);
	padding-bottom: 20px;
}

main > div > div > .container{
	background: rgba(255,255,255,0.9);
}

#heroContainer, #homeContainer, #conferenceContainer, #facilityContainer, #hotelContainer, #pricingContainer, #scheduleContainer, #contactContainer{
	background: rgba(0,0,0,0.5);
	background-size: cover;
}

#homeContainer {
	background-image: url('../images/homeBG.jpg');
}

#conferenceContainer {
	background-image: url('../images/conferenceBG.jpg');
}



#hotelContainer {
	background-image: url('../images/hotelBG.jpg');
}

#pricingContainer {
	background-image: url('../images/pricingBG.jpg');
}

#scheduleContainer {
	background-image: url('../images/scheduleBG.jpg');
}

#contactContainer{
	background-image: url('../images/contactBG.jpg');
}

/* Start Facility Containers */
#facilityContainer {
	background-image: url('../images/facilityBG.jpg');
}
#wrbContainer{
	/*background-image: url('../images/wrbBG.jpg');*/
}
#cehContainer{
	/*background-image: url('../images/cehBG.jpg');*/
}
#mpbrContainer{
	/*background-image: url('../images/mpbrBG.jpg');*/
}
#lrjmdrContainer{
	/*background-image: url('../images/lrjmdrBG.jpg');*/
}
#otContainer{
	/*background-image: url('../images/otBG.jpg');*/
}
#pContainer{
	/*background-image: url('../images/pBG.jpg');*/
}
#cpkContainer{
	/*background-image: url('../images/cpkBG.jpg');*/
	text-align: center;
}
#cpkContainer ul{
	list-style: none;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
/* End Facility Containers */

/*Container Global Styling*/
.container img.left{
	float:left;
	margin-right: 20px;
}
.container img.right{
	float:right;
	margin-left: 20px;
}
.container img.fullWidth{
	width: 100%;
	height: auto;
}
.container .jumbotron a{
	color: rgba(255,255,255,0.7);
}

/*Hero Slider*/
div#heroContainer > div.containerWrapper > div.cycle-slideshow{
	height: 100%;
}

div#heroContainer > div.containerWrapper > div.cycle-slideshow > div{
	height: 100%;
	width: 100%;
}

div#heroContainer > div.containerWrapper > div.cycle-slideshow > div.cycle-slide > div{
	height: 100%;
	width: 100%;
	position: relative;
	text-align: center;
	white-space: nowrap;
}

div#heroContainer > div.containerWrapper > div.cycle-slideshow > div.cycle-slide  > div:before{
	content: '';
  	display: inline-block !important;
  	height: 100%;
  	vertical-align: middle;
  	margin-right: -0.25em;
}

div#heroContainer > div.containerWrapper > div.cycle-slideshow > div.cycle-slide > div>  div.container{
	background: rgba(255,255,255,0.9);
	display: inline-block;
  	vertical-align: middle;
  	margin-top: 120px;
  	padding: 10px;
  	text-align: left;
}

#heroContainer .jumbotron p{
	white-space: normal;
}

#heroContainer #slide0, #heroContainer #slide1, #heroContainer #slide2, #heroContainer #slide3{
	background: rgba(0,0,0,0.5);
	background-size: cover;
}
#heroContainer #slide0{
	background-image: url('../images/conferenceBG.jpg');
}
#heroContainer #slide1{
	background-image: url('../images/facilityBG.jpg');
}
#heroContainer #slide2{
	background-image: url('../images/pricingBG.jpg');
}
#heroContainer #slide3{
	background-image: url('../images/contactBG.jpg');
}

#heroContainer #buttonsWrapper{
	height: 100%;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
 }

#heroContainer #buttonsWrapper:before{
	content: '';
  	display: inline-block !important;
  	height: 100%;
  	vertical-align: middle;
  	margin-right: -0.25em;
}

#heroContainer #buttonsWrapper #buttons{
  	display: inline-block;
  	vertical-align: middle;
}

#heroContainer #buttonsWrapper #buttons button{
	position: absolute;
  	z-index: 1000 !important;
  	background-color: rgba(0,0,0,0);
  	border: none;
  	font-size: 48px;
  	color: #fff;
  	text-shadow: 0 0 20px rgba(0,0,0,.7);
}
#heroContainer #buttonsWrapper #buttons button:focus{
	outline: none;
}
#heroContainer #buttonsWrapper #buttons button.slide-toggle-left{
	left: 30px;
}
#heroContainer #buttonsWrapper #buttons button.slide-toggle-pause{
	bottom: 30px;
} 
#heroContainer #buttonsWrapper #buttons button.slide-toggle-right{
	right: 30px;
}  
@media (max-width: 990px){
	#heroContainer #buttonsWrapper #buttons button.slide-toggle-left{
		left: 0;
	}
	#heroContainer #buttonsWrapper #buttons button.slide-toggle-pause{
		bottom: 0;
	} 
	#heroContainer #buttonsWrapper #buttons button.slide-toggle-right{
		right: 0;
	}  
}

/*Google Maps*/
#map-canvas {
	width: 100%;
	height: 400px;
}

/*Footer*/
footer{
	background-color: #000;
	bottom: 0;
	position: relative;
	color: #fff;
	padding: 10px;
}